.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
}

.expense-item_description {
    background: purple;
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    flex: 1;
    padding: 2rem;
}

.expense-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}



.expense-item_price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}

.expense-item_date {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}


@media (min-width: 580px) {
    .expense-item_description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
}

.expense-item__description h2 {
    font-size: 1.25rem;
}

.expense-item__price {
    font-size: 1.25rem;
}





.myInput {
    display: block;
    width: 50%;
    border-radius: 1rem;
    border: 1px solid gainsboro;
    margin: 10px auto;
    height: 30px;
    font-size: 18px;
    padding: 2px 10px;
}

.userinput {
    margin: auto;
    text-align: center;
}

.ListShow {
    text-align: center;
}

.ListShow ul {
    display: inline;
}

.ListShow ul li {
    list-style: none;
    border: 1px sol;
    margin: 10px auto;
    width: 50%;
}

span.expenses {
    float: left;
}

button.delete {
    float: right;
    border-radius: 1rem;
    border: unset;
    width: 1.5rem;
}

.total {
    margin: auto;
    text-align: right;
    max-width: 50%;

}

@keyframes changeColor {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}